<a href="/about" class="<%= @cms_page.try(:slug) == 'about' ? 'active' : '' %> item">About</a>
<a class="item">Find a Job</a>
<a class="item">Find Workers</a>
<%= link_to "Get Started", get_started_path, class: "item" %>

<% if sidebar %>
  <a class="item">Login</a>
  <%= link_to "Sign Up", get_started_path %>
<%else%>
  <div class="right item">
    <%if current_worker%>
      <%= link_to "Dashboard", worker_dashboard_path, class: "ui teal button", target: "blank" %>
    <%elsif current_farmer%>
      <%= link_to "Dashboard", farmer_dashboard_path, class: "ui teal button", target: "blank" %>
    <%else%>
      <%= link_to "Login", login_path, class: "ui teal button basic" %>
      <%= link_to "Sign Up", get_started_path, class: "ui teal button" %>
    <%end%>
  </div>
<%end%>