<div class="item">
  <img class="ui avatar image" src="<%= notification.thumbnail.url(:display) %>">
  <div class="content">
    <a class="header" href="<%= worker_notification_path(notification.id) %>"><%= notification.header %></a>
    <div class="description"><%= notification.description %> <%= time_ago_in_words(notification.created_at) %> ago.</div>
  </div>
</div>