<div class="ui two column grid">
  <div class="ui four wide column" style="text-align:center;">
    <div class="ui small circular image" >
      <% if review.reviewer %>
        <%= image_tag review.reviewer.profile_photo.url(:display) %>
      <%else%>
        <%= image_tag "missing_worker_profile_photo.png" %>
      <%end%>
    </div>
    <%if review.reviewer%>
      <span style="color:gray;"><%= review.reviewer.full_name %></span>
    <%end%>
  </div>
  <div class="ui twelve wide column">
    <h3 class="header" style="display:inline;">
      <%if review.reviewer %>
        <a href="<%= review.reviewer_profile_path %>" target="_blank"><%= review.title_text %></a>
      <%else%>
        <%= review.title_text %>
      <%end%>
    </h3>
    <div class="ui star rating" data-rating="<%= review.rating %>" data-max-rating="5"></div>
    <br>
    <% if review.work_ethic %>
      <p>
        <b>Work Ethic: <%= review.work_ethic %>/5</b><br/>
        <b>Skills: <%= review.skills %>/5</b><br/>
        <b>Communication: <%= review.communication %>/5</b>
      </p>
    <%end%>
    <p>
      <%= review.feedback %>
    </p>
  </div>
</div>