<%= f.hidden_field :reviewee_id, value: reviewee_id %>
<%= f.hidden_field :reviewee_type, value: "Worker" %>
<%= f.hidden_field :reviewer_id, value: reviewer_id %>
<%= f.hidden_field :reviewer_type, value: "Farmer" %>
<div class="field required integer optional review_rating">
  <label class="integer optional" for="review_rating">
    Rating
  </label>
  <div class="ui star rating" name="review[rating]"></div>
</div>
<%= f.input :feedback, label: "Share your feedback with the community", required: true %>
