<div class="ui two column grid">
  <div class="ui four wide column" style="text-align:center;">
    <div class="ui small circular image" >
      <img src="<%= review.reviewer.profile_photo.url(:display) %>">
    </div>
    <span style="color:gray;"><%= review.reviewer.full_name %></span>
  </div>
  <div class="ui twelve wide column">
    <h3 class="header" style="display:inline;">
      <a href="<%= review.reviewee_profile_path %>" target="_blank"><%= review.job.title %></a>
    </h3>
    <div class="ui star rating" data-rating="<%= review.rating %>" data-max-rating="5"></div>
    <br>
    <span>
      <%= review.feedback %>
    </span>
  </div>
</div>