<%= stylesheet_link_tag "registrations" %>
<div class="hero-image-container" id="worker-signup-hero">
  <div class="ui stackable two column grid">

    <div class="ui column">
      <div class="ui very padded segment basic">
        <div class="signup-content-block">
          <h1 class="ui center aligned inverted header">Connect with more farming jobs today</h1>
          <h4 class="ui center aligned inverted header">Setup your free worker profile. </h4>
          <h4 class="ui center aligned inverted header">Search paid work in a wide range of agricultural settings, skills and requirements.</h4>
          <h4 class="ui center aligned inverted header">Build your profile so farmers can search and invite you to their jobs. As well our algorithms will match & recommend for you jobs to review. Then it’s just one click to apply.</h4>
        </div>
      </div>
    </div>

    <div class="ui column very padded segment basic">
      <div class="ui very padded segment basic">
        <div class="ui basic segment">
          <h3 class="ui center aligned header" style="color:white;">Sign Up as a Worker</h3>
          <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= f.error_notification %>
            <div class="form-inputs">
              <div class="ui stackable grid">
                <div class="ui eight wide column">
                  <%= f.input :first_name, required: true, autofocus: true %>
                </div>
                <div class="ui eight wide column">
                  <%= f.input :last_name, required: true, autofocus: true %>
                </div>
                <div class="ui eight wide column">
                  <%= f.input :email, required: true, autofocus: true %>
                </div>
                <div class="ui eight wide column">
                  <%= f.input :mobile_number, required: true, autofocus: true %>
                </div>
                <div class="ui eight wide column">
                  <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
                </div>
                <div class="ui eight wide column">
                  <%= f.input :referred_by_token, autofocus: true %>
                </div>
              </div>
            </div>
            <div class="ui divider hidden"></div>
            <div class="form-actions">
              <%= f.button :submit, "Sign up" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="ui primary inverted segment">
  <div class="ui container">
    <div class="ui stackable centered grid">
      <div class="ui primary eight wide column">
        <div class="ui very padded segment basic">
          <i class="ui add user icon huge"></i>
          <h3>Build your workers profile today</h3>
          <p>Create an online profile showing off all your skills, work history and experience to help you land the best farming jobs - for free.</p>
        </div>
      </div>
      <div class="ui primary eight wide column">
        <div class="ui very padded segment basic">
          <i class="ui announcement icon huge"></i>
          <h3>Get alerted to jobs</h3>
          <p>Be the first to apply for jobs that match your skills and location when they are sent directly to your inbox.</p>
        </div>
      </div>
      <div class="ui primary eight wide column">
        <div class="ui very padded segment basic">
          <i class="huge icons">
            <i class="comments outline icon"></i>
            <i class="corner check square icon"></i>
          </i>
          <h3>Get reviewed as you complete jobs</h3>
          <p>As you register we contact a previous employer to get you an online verified reference check, then with each job you complete, build your profile as farmers recommend you based on your good work.</p>
        </div>
      </div>
      <div class="ui primary eight wide column">
        <div class="ui very padded segment basic">
          <i class="huge icons">
            <i class="user icon"></i>
            <i class="corner star half empty icon"></i>
          </i>
          <h3>Find the best farmers to work for</h3>
          <p>Our farmers are reviewed by other workers to ensure you can find a good working environment on in regional Australia.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="ui very padded segment basic no-margin" style="background-color: #e8e8e8;">
  <div class="ui container">
    <div class="ui stackable column grid">
      <div class="ui ten wide column">
        <h1 style="font-weight:normal;margin-bottom:0px;">Stay up-to-date on our blog</h1>
        <span style="font-size:larger;color:gray;opacity:0.7;">Get tips on how you can land more farming jobs.</span>
      </div>
      <div class="ui six wide column">
        <%= link_to "Read Now", "http://toolbox.agdraft.com.au", class: "ui massive primary button" %>
      </div>
    </div>
  </div>
</div>