<% content_for :dashboard_header do %>
  <%= render partial: "includes/dashboard/masthead", locals: {header: "Published Jobs", icon: "protect", description: "View your published jobs", live_link: false } %>
<%end%>
<%= link_to "Add Job", new_farmer_job_path, class: "ui primary button" %>

<table class="ui celled table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Number of Workers</th>
      <th></th>
      <th></th>
      <th></th>
      <% if !Rails.env.production? %>
        <th></th>
      <%end%>
    </tr>
  </thead>
  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td>
          <%= job.title %>
        </td>
        <td>
          <%= job.start_date_label %>
        </td>
        <td>
          <%= job.end_date_label %>
        </td>
        <td>
          <%= job.number_of_workers %>
        </td>
        <td>
          <%= link_to "Manage", farmer_manage_job_path(job.id), class: "ui primary button basic" %>
        </td>
        <td>
          <div class="field boolean optional job_live ui toggle checkbox" data-job-id="<%= job.id %>">
            <input class="boolean optional" type="checkbox" value="1" <%= job.live ? 'checked="checked"' : '' %> name="job[live]" id="job_live">
            <label class="boolean optional" for="job_live">Live</label>
          </div>
        </td>
        <td>
          <%= link_to "View", job_path(job.id), class: "ui primary button", target: "_blank" %>
        </td>
        <% if !Rails.env.production? %>
          <td>
            <%= link_to "Attract", farmer_attract_seed_workers_path(job.id), method: :post, class: "ui basic pink button mini js-attract-workers", remote: true %>
            <%= link_to "Shortlist", farmer_shortlist_seed_workers_path(job.id), method: :post, class: "ui basic pink button mini js-shortlist-workers", remote: true %>
            <%= link_to "Hire", farmer_hire_seed_workers_path(job.id), method: :post, class: "ui basic pink button mini js-hire-workers", remote: true %>
          </td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>