<% content_for :dashboard_header do %>
  <%= render partial: "includes/dashboard/masthead", locals: {header: "Publish Job Advertisment", icon: "payment", description: "Please provide valid credit card details to enable publishing of job advertisments", live_link: false } %>
<%end%>

<%if current_farmer.has_valid_payment? || current_farmer.credit > JOB_PRICE %>
  <div class="ui info message">
    Please be aware that by publishing this job advertismnt you are agreeing to our terms and conditions and will you immediately be charged a non-refundable service fee of $<%= JOB_PRICE %>. You will be unable to <u><%= link_to "edit", edit_farmer_job_path(@job) %></u> the details of your advertisment after you publish it. <u><%= link_to "Go back", farmer_jobs_path %></u> now to make any changes before continuing.
  </div>
<%else%>
  <div class="ui warning message">
    We do not have a valid form of payment registered for your account. You are unable to publish a job advertisment until you have provided valid payment details. Please go to the <u><%= link_to "Payment Details", farmer_payment_path %></u> to add this information to your account.
  </div>
<%end%>

<h2 class="ui center aligned header">Review Job Advertisment Details</h2>
<div class="ui segment basic">
  <%= render 'job_details' %>
  <%if @job.credit_to_apply > 0%>
    <h3>Publishing price: $<%= JOB_PRICE %></h2>
    <h3>Credits on your account: $<%= current_farmer.credit %></h2>
    <h2>You will be charged: $<%= JOB_PRICE - @job.credit_to_apply %></h2>
  <%else%>
    <h2>Price to Publish: $<%= JOB_PRICE %></h2>
  <%end%>
</div>

<%= form_tag farmer_publish_job_path, method: "POST" do %>
  <%= link_to "Cancel", farmer_jobs_path, class: "ui primary button basic" %>
  <%= button_to "Publish", farmer_publish_job_path, class: "ui primary button", disabled: (@job.credit_to_apply != JOB_PRICE && !current_farmer.has_valid_payment?) %>
<% end %>
