<a class="ui card" href="<%= worker_path(worker.id) %>" target="blank">
  <div class="image">
    <%= image_tag worker.profile_photo.url(:display) %>
  </div>
  <div class="content">
    <h3 class="header"><%= worker.full_name %></h3>
    <div class="meta">
      <span class="date">Joined in <%= worker.created_at.strftime("%B, %Y") %></span>
    </div>
    <div class="ui huge star rating" data-rating="<%= worker.review_rating %>" data-max-rating="5"></div>
    <span class="meta" style="display:inline;">(<%= worker.reviews_of.count %>)</span>
  </div>
  <div class="ui basic segment">
    <% if worker.skills.present? %>
      <h2 class="ui sub header">Skills</h2>
      <div class="ui horizontal list">
        <% worker.skills.first(3).each do |skill| %>
          <div class="ui label item">
            <%= skill.title %>
          </div>
        <% end %>
      </div>
      <div class="ui horizontal divider show-more" style="margin-left:15%;margin-right:15%;">
        <% if worker.skills.count > 3 %>
          <span style="font-size:xx-small;font-style:italic;"><%= worker.skills.count - 3 %>+ more skills</span>
        <% end %>
      </div>
    <% end %>
    <% if worker.job_categories.present? %>
      <h2 class="ui sub header">Job Categories</h2>
      <div class="ui horizontal list">
        <% worker.job_categories.first(3).each do |job_category| %>
          <div class="ui label item">
            <%= job_category.title %>
          </div>
        <% end %>
      </div>
      <div class="ui horizontal divider show-more" style="margin-left:15%;margin-right:15%;">
        <% if worker.job_categories.count > 3 %>
          <span style="font-size:xx-small;font-style:italic;"><%= worker.job_categories.count - 3 %>+ more job categories</span>
        <% end %>
      </div>
    <% end %>

    <% if worker.certificates.present? || worker.educations.present? %>
      <h2 class="ui sub header">Education & Certificates</h2>
      <div class="ui horizontal list">
        <% worker.certificates.each do |certificate| %>
          <div class="ui label item">
            <%= certificate.title %>
          </div>
        <% end %>
        <% worker.educations.each do |education| %>
          <div class="ui label item">
            <%= education.degree %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</a>