<div style="text-align:center;height:300px;">
  <div class="hero-image-container very-padded" style="background-image:url('<%= asset_path @job.farmer.cover_photo.url(:display) %>')!important;filter:brightness(60%);">
  </div>
  <div class="ui basic segment" style="bottom:275px;">
    <h1 style="color:white;font-weight:normal;"><%= @job.title %></h1>
    <h3 style="color:white;margin-top:0px;font-weight: lighter;">
      <span style="margin-right:15px;"><%= number_to_currency(@job.pay_max) %>/hr</span>  |  <span style="margin-left:15px;">Full-time</span>
    </h3>
    <h4 style="color:white;margin-top:0px;font-weight:lighter;"><%= @job.location.label %></h4>
    <a class="ui button twitter-share-button" href="https://twitter.com/share" style="background-color: #4183C4;" data-text="<%= job_url(@job.id) %>">
      <i id="twitter-share" class="twitter link large icon" style="color:white;margin-right:0px;"></i>
    </a>
    <span class="fb-share-button" data-href="<%= job_url(@job.id) %>" data-layout="icon" data-mobile-iframe="true">
      <a class="ui button fb-xfbml-parse-ignore" style="background-color: #4183C4;" target="_blank" href="https://www.facebook.com/sharer/sharer.php">
        <i id="facebook-share" class="facebook link large icon" style="color:white;margin-right:0px;"></i>
      </a>
    </span>

    <% if current_worker %>
      <% applyable = current_worker.is_job_applyable(@job) %>
      <br/>
      <button style="margin-top:20px;" class="ui teal button apply-for-job <%= 'disabled' if !applyable %>" data-job-id="<%= @job.id %>"><%= applyable ? 'Apply now' : 'Applied' %></button>
    <% end %>
  </div>
</div>

<div class="ui container">
  <div class="ui tabular secondary two item menu profile-tabs">
    <div class="active item" data-tab="job-desc" style="border-radius: 0 !important">
      <i class="book icon"></i>
      <span class="description">JOB DESCRIPTION</span>
    </div>
    <div class="item" data-tab="employer-info" style="border-radius: 0 !important">
      <i class="star icon"></i>
      <span class="description">EMPLOYER INFORMATION</span>
    </div>
  </div>

  <div class="ui active tab" data-tab="job-desc">
    <div class="ui center aligned grid" style="margin-top:30px;">
      <div class="ui eight wide column left aligned">
        <h3 style="margin-bottom: 0px;">Details</h3>
        <div class="ui basic segment" style="margin-top:0px;line-height:2rem;">
          <span>Job length: <span style="font-weight: bold;">Full-time</span></span><br>
          <span>Pay rate: <span style="font-weight: bold;"><%= number_to_currency(@job.pay_max) %>/hr</span></span><br>
          <span>Start date: <span style="font-weight: bold;"><%= @job.start_date.strftime("%d/%m/%Y") %></span></span><br>
          <span>Location: <span style="font-weight: bold;"><%= @job.location.label %></span></span><br>
          <span>Acommodation provided: <i class="thumbs <%= @job.accomodation_provided ? 'up' : 'down' %> outline teal icon"></i></span><br>
        </div>
        <div class="ui hidden divider"></div>
        <h3>Description</h3>
        <p style="margin-left:15px;">
          <%= @job.description %>
        </p>
        <div class="ui hidden divider"></div>
        <div class="ui basic segment" style="line-height: 2rem;margin-bottom:10%;padding-left:0px;">
          <span>Number of workers needed: <span style="font-weight:bold;"><%= @job.number_of_workers %></span></span><br>
          <span>Number of positions filled: <span style="font-weight:bold;"><%= JobWorker.where({ job_id: @job.id, state: "hired" }).count %></span></span>
        </div>
      </div>

      <div class="ui eight wide column left aligned">
        <div class="ui basic segment">
          <% if @job.skills.present? %>
            <h2 class="ui sub header">Skills:</h2>
            <div class="ui horizontal list">
              <% @job.skills.each do |skill| %>
                <div class="ui label item">
                  <%= skill.title %>
                </div>
              <% end %>
            </div>
          <% end %>

          <% if @job.job_categories.present? %>
            <h2 class="ui sub header">Job Categories:</h2>
            <div class="ui horizontal list">
              <% @job.job_categories.each do |job_category| %>
                <div class="ui label item">
                  <%= job_category.title %>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="ui tab" data-tab="employer-info">
    <div class="ui grid" style="margin-top:5%;margin-bottom:10%;">
      <div class="ui three wide column">
        <div class="ui small image">
          <img src="<%= @job.farmer.profile_photo.url(:display) %>">
        </div>
      </div>
      <div class="ui thirteen wide column">
        <h4 class="header" style="margin-bottom:0px;">
          <a href="<%= farmer_path(@job.farmer.id) %>"><%= @job.farmer.full_name %></a>
        </h4>
        <span style="color:gray;"><%= @job.farmer.farm_name %></span>
        <br>
        <div class="ui huge star rating" data-rating="<%= @job.farmer.review_rating %>" data-max-rating="5"></div>
        <span class="meta" style="display:inline;">(<%= @job.farmer.reviews_of.count %>)</span>
        <p style="margin-top:3%;">
          <%= @job.farmer.business_description %>
        </p>
        <a class="ui basic teal right floated button" href="<%= farmer_path(@job.farmer.id) %>">View Profile</a>
      </div>
    </div>
  </div>
</div>

<% if current_worker %>
  <% applyable = current_worker.is_job_applyable(@job) %>
  <div style="text-align:center;margin-bottom:10%;">
    <button style="min-width: 50%;" class="ui teal button apply-for-job <%= 'disabled' if !applyable %>" data-job-id="<%= @job.id %>"><%= applyable ? 'Apply now' : 'Applied' %></button>
  </div>
<% end %>

