<%= link_to "Dashboard", farmer_dashboard_path, class: "#{@nav_item == "dashboard" ? "active" : ""} item" %>
<div class="item">
  <div class="header">Profile</div>
  <div class="menu">
    <%= link_to edit_farmer_registration_path, class: "#{@nav_item == "account_details" ? "active" : ""} item" do %>
      <i class="edit icon"></i>Account Details
    <% end %>
    <%= link_to farmer_payment_path, class: "#{@nav_item == "payments" ? "active" : ""} item" do %>
      <i class="payment icon"></i>Payment Details
    <% end %>
    <%= link_to edit_farmer_farmer_path(current_farmer), class: "#{@nav_item == "farm_details" ? "active" : ""} item" do %>
      <i class="browser icon"></i>Farm Details
    <% end %>
    <%= link_to farmer_show_location_path, class: "#{@nav_item == "locations" ? "active" : ""} item" do %>
      <i class="marker icon"></i>Location
    <% end %>
    <%= link_to farmer_profile_photo_path, class: "#{@nav_item == "profile_photo" ? "active" : ""} item" do %>
      <i class="camera retro icon"></i>Profile Photo
    <% end %>
    <%= link_to farmer_cover_photo_path, class: "#{@nav_item == "cover_photo" ? "active" : ""} item" do %>
      <i class="camera retro icon"></i>Cover Photo
    <% end %>
  </div>
</div>
<div class="item">
  <div class="header">Jobs</div>
  <div class="menu">
    <%= link_to farmer_jobs_path, class: "#{@nav_item == "jobs_unpublished" ? "active" : ""} item" do %>
      <i class="edit icon"></i>Unpublished
    <% end %>
    <%= link_to farmer_published_jobs_path, class: "#{@nav_item == "jobs_published" ? "active" : ""} item" do %>
      <i class="browser icon"></i>Published
    <% end %>
  </div>
</div>

<%= link_to "Jobs", farmer_jobs_path, class: "item right" %>
<% if current_farmer %>
  <%= link_to "Log Out", destroy_farmer_session_path, :method => :delete, class: "item right" %>
<% elsif current_admin %>
  <%= link_to "Log Out", destroy_admin_farmer_session_path, :method => :delete, class: "item right" %>
<%end%>