<%= link_to "Dashboard", "#", class: "#{@nav_item == "dashboard" ? "active" : ""} item" %>
<div class="item">
  <div class="header">Profile</div>
  <div class="menu">
    <%= link_to "<i class='browser icon'></i>Details".html_safe, "#", class: "#{@nav_item == "account" ? "active" : ""} item" %>
    <%= link_to "<i class='edit icon'></i>Change Email/Password".html_safe, "#", class: "#{@nav_item == "edit_user" ? "active" : ""} item" %>
  </div>
</div>
<% if current_farmer %>
  <%= link_to "Log Out", destroy_farmer_session_path, :method => :delete, class: "item right" %>
<% elsif current_admin %>
  <%= link_to "Log Out", destroy_admin_farmer_session_path, :method => :delete, class: "item right" %>
<%end%>