<% content_for :dashboard_header do %>
  <%= render partial: "includes/dashboard/masthead", locals: { header: "Extra Details", icon: "user", description: "Enhance your profile with additional details", live_link: false } %>
<% end %>

<%= simple_form_for @worker,
  url: worker_extra_details_path,
  remote: true,
  method: "put", html: { id: "edit-worker" } do |f| %>
  <%= f.input :has_own_transport, as: :boolean, label: "I have vehicle to access property/job", wrapper_html: { class: "ui toggle checkbox", style: "margin-right:15px;" }%>
  <%= f.input :has_own_accommodation, as: :boolean, label: "I have mobile accommodation to bring to property/job", wrapper_html: { class: "ui toggle checkbox", style: "margin-right:15px;" }%>
  <%= f.input :grew_up_on_farm, as: :boolean, label: "I grew up on a farm", wrapper_html: { class: "ui toggle checkbox", style: "margin-right:15px;" }%>
  <div class="ui hidden divider"></div>
  <label class="string optional" for="nationality"><b>Nationality<b></label>
  <br>
  <%= f.country_select :nationality, { include_blank: "Nationality" }, { class: "ui dropdown" } %>
  <div class="ui hidden divider"></div>
  <div class="field">
    <label>Date of birth</label>
    <div class="ui calendar range-end">
      <div class="ui input left icon">
        <i class="calendar icon"></i>
        <%= f.input_field :dob, as: "string", placeholder: "DOB" %>
      </div>
    </div>
    <%= f.error :end_date %>
  </div>
  <%= f.input :tax_file_number, label: "TFN" %>
  <%= f.input :abn, label: "ABN" %>
  <%= f.input :passport_number %>
  <%= f.input :mobile_number, required: true %>
  <%= f.input :description, as: :text %>
  <div class="ui hidden divider"></div>
  <%= f.button :submit %>
<% end %>