<!-- Background image from: http://www.beefcentral.com/wp-content/uploads/2014/05/cattle2.jpg -->
<div class="ui inverted vertical masthead center aligned segment">
  <div class="ui container">
    <div class="ui large secondary inverted pointing menu">
      <%= link_to root_path, class: "logo" do %>
        <%= image_tag "header-logo-edit-2.png", class: "header item" %>
      <%end%>
      <a class="toc item">
        <i class="sidebar icon"></i>
      </a>
      <%= render partial: "includes/menu_items", locals: { sidebar: false } %>
    </div>
  </div>

  <div class="ui text container">
    <h1 class="ui inverted header">
      Connecting Workers to Farm Operators
    </h1>
    <h2 style="font-weight:lighter;margin-top:0px;">Reliable work when you need it</h2>
    <div class="ui centered grid" style="text-align:center;">
      <div class="ui item eight wide column">
        <%= link_to new_farmer_registration_path, { class: "ui huge fluid primary button", id: "farmers-link", style: "margin-right:15px;" } do %>
          <img class="ui image" style="display:inline;width:25px;margin-bottom:5px;margin-right:10px;" src="assets/icon-farmer.png">
          <span>I'm an Employer</span>
        <% end %>
      </div>
      <div class="ui item eight wide column">
        <%= link_to new_worker_registration_path, { class: "ui huge fluid primary button" } do %>
        <img class="ui image" style="display:inline;width:25px;margin-bottom:5px;margin-right:10px;" src="assets/icon-worker.png">
        <span>I'm Looking for Work</span>
        <% end %>
      </div>
    </div>
  </div>
</div>


<div>
  <div class="ui container desktop-only">
    <div class="ui stackable seven column grid">
      <div class="ui column">
        <div class="ui padded segment center vertically basic">
          <span style="color:gray;">As seen in:</span>
        </div>
      </div>
      <% [{
          image: "logos/stock-journal.png",
          link: "http://www.stockjournal.com.au/news/agriculture/agribusiness/general-news/ag-digital-startup-wins-big/2742094.aspx"
          },
          {
            image: "logos/westpac.png",
            link: "http://www.westpac.com.au/about-westpac/sustainability-and-community/news-stories/news/10-sept-digital-idea-agri"
          },
          {
            image: "logos/fin-review.png",
            link: "http://www.afr.com/technology/westpac-looks-past-fintech-to-emerging-agtech-boom-20150918-gjq2na"
          },
          {
            image: "logos/the-land.png",
            link: "http://www.theland.com.au/story/3365902/farmer-fix-for-workforce-woes/"
          },
          {
            image: "logos/abc-rural.jpg",
            link: "https://soundcloud.com/agdraft/agdraft-abcwacountryhour"
          },
          {
            image: "logos/blue-chilli.png",
            link: "https://www.bluechilli.com/corporates/innovation-challenge/disrupt-agribiz/westpac-innovation-challenge-from-mining-boom-to-dining-boom/"
          }].each do |logo| %>
        <%= render partial: "logo", locals: {logo: logo} %>
      <% end %>
    </div>
  </div>
</div>

<div class="ui basic segment">
  <div class="ui container">
    <div class="ui tabular menu">
      <div class="active primary item" data-tab="workers" style="cursor: pointer;">
        <span class="description">Workers</span>
      </div>
      <div class="primary item" data-tab="jobs" style="cursor: pointer;">
        <span class="description">Jobs</span>
      </div>
    </div>
    <div class="ui active tab" data-tab="workers">
      <h1 style="font-weight: normal;">Featured workers</h1>
      <div class="ui centered cards">
        <% @workers.each do |worker| %>
          <%= render partial: "search/worker_card", locals: { worker: worker } %>
        <% end %>
      </div>
    </div>

    <div class="ui tab" data-tab="jobs">
      <h1 style="font-weight: normal;">Featured jobs</h1>
      <div class="ui centered cards">
        <% @jobs.each do |job| %>
          <%= render partial: "search/job_card", locals: { job: job } %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="ui basic primary inverted segment" style="padding-top:4rem;margin-top:0px;">
  <h1 class="header" style="font-weight:normal;color:white;text-align:center;">What is AgDraft?</h1>
  <div class="ui centered grid" style="margin-top:1%;">
    <div class="ui basic segment eight wide column" style="text-align:center;padding-top:0px;">
      <span style="color:white;text-align:center;font-size:1.2rem;">AgDraft is the online platform connecting Australian farmers to skilled rural workers, fast. Workers of all ages and backgrounds are creating personal AgDraft profiles, complete with skills and experience levels. Farmers are posting jobs to this trusted network of workers, who’ve all been verified by previous employers.</span>
    </div>
  </div>
  <div class="ui stackable three column grid">
    <div class="ui primary column">
      <div class="ui very padded segment basic">
        <i class="ui compress icon huge"></i>
        <h3>Get Matched</h3>
        <p>AgDraft takes the stress out of finding a job or hiring the right worker. Our system cleverly matches workers and farmers based on their requirements (think relevant skills, availability, location and previous reviews) so you can spend less time scrolling. We’ll even let you know if new matches sign up online. Once notified of your matches, the ball’s in your court – you decide if you’d like to make contact or discuss further details of the work.</p>
      </div>
    </div>
    <div class="ui primary column">
      <div class="ui very padded segment basic">
        <i class="huge icons">
          <i class="user icon"></i>
          <i class="corner star half empty icon"></i>
        </i>
        <h3>Find Quality</h3>
        <p>Word-of-mouth recommendations certainly aren’t new to rural communities – we’ve simply taken the concept online to create the most trusted group of farmers and workers we can. At AgDraft, we allow both farmers and workers to review and recommend each other. A good employer with a strong star-rating is more likely to lock in excellent workers who’ll settle in fast on-farm. Same goes for well-reviewed employees – they’ll be rewarded for their hard work and snapped up into great positions.</p>
      </div>
    </div>
    <div class="ui primary column">
      <div class="ui very padded segment basic">
        <i class="huge icons">
          <i class="history icon"></i>
          <i class="corner check circle icon"></i>
        </i>
        <h3>Save time</h3>
        <p>With our easy-to-use platform, employers will simply spend less time searching for labour and chasing up references. Workers will spend less time hunting for the right job. On farms, we know that finding the right fit first time, everytime, is the best way to get jobs done quickly and enjoyably. Thanks to our background in both family farming and corporate agriculture, we know the challenges first-hand. We’re passionate about making the Australian industry more efficient. We also want to give you more time to do what you love. Let us help you speed up every step of the hiring and job-hunting process, from listing your profile or job, to making the final decision.</p>
      </div>
    </div>
  </div>
</div>

<div class="ui hidden divider"></div>
<div class="ui hidden divider"></div>
<div class="ui hidden divider"></div>

<h1 style="text-align:center;font-weight:normal;font-size:2.5rem;margin-bottom:4rem;">Help Us Direct You</h1>
<div class="ui centered grid" style="text-align:center;margin-bottom:5%;">
  <div class="ui item four wide column">
    <%= link_to new_farmer_registration_path, { class: "ui huge fluid primary button", id: "farmers-link", style: "margin-right:15px;" } do %>
      <img class="ui image" style="display:inline;width:25px;margin-bottom:5px;margin-right:10px;" src="assets/icon-farmer.png">
      <span>I'm an Employer</span>
    <% end %>
  </div>
  <div class="ui item four wide column">
    <%= link_to new_worker_registration_path, { class: "ui huge fluid primary button" } do %>
    <img class="ui image" style="display:inline;width:25px;margin-bottom:5px;margin-right:10px;" src="assets/icon-worker.png">
    <span>I'm Looking for Work</span>
    <% end %>
  </div>
</div>

<div style="background-color:#e8e8e8;">
  <div class="ui container">
    <div class="ui centered grid" style="padding-bottom:2rem;">
      <div class="ui twelve wide column">
        <h1 style="font-weight:normal;margin-bottom:0px;">Stay up-to-date on our blog</h1>
        <span style="font-size:larger;color:gray;opacity:0.7;">Keep updated with the latest AgDraft and agri labour news. Register today</span>
      </div>
      <div class="ui four wide column">
        <a href="http://blog.agdraft.com.au" class="ui primary fluid center vertically button" style="line-height: 1.5rem;">Read now</a>
      </div>
    </div>
  </div>
</div>

