<p>
  Worker: 
  <%= link_to('Sign up', new_worker_registration_path)  %> |
  <%= link_to('Sign in', new_worker_session_path)  %>
</p>
<p>
  Farmer: 
  <%= link_to('Sign up', new_farmer_registration_path)  %> |
  <%= link_to('Sign in', new_farmer_session_path)  %>
</p>
<p>
  Admin: 
  <%= link_to('Sign in', new_admin_session_path)  %>
</p>