<p>There has been a new review sent from a previous employer for a Worker</p> 
<h3>Worker</h3>
<p>
  <b>Email: <%= @worker.email %>
</p>
<p>
  <b>ID:</b> <%= @worker.id %>
</p>
<h3>Previous Employer</h3>
<p>
  <b>Business Name:</b> <%= @previous_employer.business_name %>
</p>
<p>
  <b>Previous Employer ID:</b> <%= @previous_employer.id %>
</p>
<p>
  <b>Work Ethic Rating:</b> <%= @work_ethic %>
</p>
<p>
  <b>Communication Rating:</b> <%= @communication %>
</p>
<p>
  <b>Skills Rating:</b> <%= @skills %>
</p>
<p>
  <b>Overall Rating:</b> <%= @rating %>
</p>
<p>
  <b>Review:</b>
</p>
<p>
 <%= @review %>
</p>

<p>
-----------------------------------------
</p>

<p>
 <i>This email was generated from the <%= Rails.env %> environment</i>
</p>