<h3>The referred user:</h3>
<p>
  <b>Type:</b> <%= @referred_user.class.to_s %>
</p>
<p>
  <b>ID:</b> <%= @referred_user.id %>
</p>
<p>
  <b>Email:</b> <%= @referred_user.email %>
</p>

<h3>The user who referred the new user:</h3>
<p>
  <b>Type:</b> <%= @referred_by_user.class.to_s %>
</p>
<p>
  <b>ID:</b> <%= @referred_by_user.id %>
</p>
<p>
  <b>Email:</b> <%= @referred_by_user.email %>
</p>