<% content_for :dashboard_header do %>
  <%= render partial: "includes/dashboard/masthead" %>
<%end%>

<div class="ui stackable grid centered">
  <div class="ui ten wide column">
    <div class="ui centered grid">
      <div class="five wide column">
        <i class="huge teal circular pin icon"></i>
        <span>Post a Job</span>
      </div>
      <div class="five wide column">
        <i class="huge teal circular users icon"></i>
        <span>Workers Apply</span>
      </div>
      <div class="five wide column">
        <i class="huge teal circular checkmark box icon"></i>
        <span>You Interview and Hire</span>
      </div>
      <div class="six wide column">
        <a class="ui teal fluid button" href="<%= new_farmer_job_path %>">
          Post Job
        </a>
      </div>
      <div class="six wide column">
        <a class="ui teal fluid button" href="<%= search_workers_path %>" target="_blank">
          Search Workers
        </a>
      </div>
    </div>
  </div>
  <div class="ui six wide column">
    <h3>Notifications</h3>
    <div class="ui very relaxed divided list" style="overflow:scroll;max-height:250px;text-align: left;">
      <% if @notifications.count > 0 %>
        <% @notifications.each do |notification| %>
          <%= render partial: "includes/notification", locals: { notification: notification } %>
        <% end %>
      <% else %>
        <div class="ui info message">You have no recent account activity.</div>
      <% end %>
    </div>
  </div>
  <div class="ui sixteen wide column left aligned">
    <h2 style="text-align: center;">Recommended workers</h2>
    <div class="ui hidden divider"></div>
    <div class="ui centered cards">
      <% @recommended_workers.each do |worker| %>
        <%= render partial: "search/worker_card", locals: { worker: worker } %>
      <% end %>
    </div>
  </div>
</div>

