<div class="ui sixteen wide column">
  <div class="ui checkbox">
    <input type="checkbox" id="select_all_regions">
    <label>Select all Regions</label>
  </div>
</div>
<% @all_locations.each do |location| %>
  <div class="eight wide column" style="display:none;" data-state="<%= location.state %>">
    <div class="inline field">
      <div class="ui toggle checkbox">
        <input id="<%= location.id %>" type="checkbox" value="<%= location.id %>" <%= @worker_locations.exists?(location.id) ? 'checked' : '' %>>
        <label for="<%= location.id %>"><%= location.region %></label>
      </div>
    </div>
  </div>
<% end %>