<% content_for :dashboard_header do %>
  <%= render partial: "includes/dashboard/masthead" %>
<%end%>

<div class="ui stackable grid">
  <div class="ui five wide column center aligned">
    <h3>Profile</h3>
    <% if current_worker.verified? %>
      <p>Your profile has been verified!</p>
      <i class="huge green check circle outline icon"></i>
    <% else %>
      <p>Complete your profile so employers know more about you</p>
      <a class="ui progress yellow" data-percent="<%= current_worker.profile_completeness %>" id="progress" href="<%= worker_extra_details_path %>">
        <div class="bar">
          <div class="progress"></div>
        </div>
        <div class="label">Only <%= current_worker.profile_completeness %>% complete. Click to add more details.</div>
      </a>
    <% end %>
  </div>
  <div class="ui five wide column center aligned">
    <h3>Jobs</h3>
    <p style="text-align:left;">You currently have <b><%= current_worker.job_offers.count %> job offers</b> and <b><%= current_worker.job_applications.count %> job applications</b>. Search for work below and apply for a job!</p>
    <a class="ui primary icon button" href="<%= search_jobs_path %>" target="_blank">
      <i class="search icon"></i>
      Find more jobs
    </a>
  </div>
  <div class="ui six wide column center aligned">
    <h3>Notifications</h3>
    <div class="ui very relaxed divided list" style="overflow:scroll;text-align:left;max-height:250px;">
      <% if @notifications.count > 0 %>
        <% @notifications.each do |notification| %>
          <%= render partial: "includes/notification", locals: { notification: notification } %>
        <% end %>
      <% else %>
        <div class="ui info message">You have no recent account activity.</div>
      <% end %>
    </div>
  </div>
  <div class="ui sixteen wide column">
    <h2 style="text-align:center;">Opportunities for People like you</h2>
    <div class="ui hidden divider"></div>
    <div class="ui cards">
      <% @recommendations.each do |recommendation| %>
        <%= render partial: "search/job_card", locals: { job: recommendation.resource, recommendation_id: recommendation.id } %>
      <% end %>
    </div>
  </div>
</div>

<% content_for :javascripts do %>
  <script>
    $(function(){
      $('#progress').progress();
    })
  </script>
<%end%>