<div class="ui modal" id="invite">
  <i class="close icon"></i>
  <div class="header">
    Choose the job you wish to invite this worker to
  </div>
  <div class="ui four column centered stackable grid segment basic">
    <%if @jobs.empty? %>
      <h2 class="sixteen wide column">You haven't published any jobs yet</h2>
      <a class="ui teal button four wide column" href="<%= new_farmer_job_path %>">
        Post Job
      </a>
    <%else%>
      <% @jobs_not_applied_to.each do |j| %>
        <div class="ui aligned center column">
          <h3><%= j[:job].title %></h3>
          <button class="ui primary button js-invite-worker" data-job-id="<%= j[:job].id %>">Invite</button>
        </div>
      <%end%>
    <%end%>
  </div>
  <div class="actions">
    <div class="ui positive right labeled icon button">
      Finished
      <i class="checkmark icon"></i>
    </div>
  </div>
</div>

<div class="ui modal" id="manage-applications">
  <i class="close icon"></i>
  <div class="header">
    Select which job you want to manage this worker on
  </div>
  <div class="ui four column centered stackable grid segment basic">
    <% @jobs_applied_to.each do |j| %>
      <div class="ui aligned center column">
        <h3><%= j[:job].title %></h3>
        <%= link_to "Manage", farmer_manage_job_path(j[:job].id), class: "ui primary button", target: "_blank" %>
      </div>
    <%end%>
  </div>
  <div class="actions">
    <div class="ui positive right labeled icon button">
      Finished
      <i class="checkmark icon"></i>
    </div>
  </div>
</div>