<div style="text-align:center;height:300px;">
  <div class="hero-image-container very-padded" style="background-image:url('<%= asset_path Farmer.first.cover_photo.url(:display) %>')!important;filter:brightness(60%);">
  </div>
  <div class="ui basic segment" style="bottom:275px;">
    <div class="ui circular image" style="width:100px;">
      <%= image_tag @worker.profile_photo.url(:display) %>
    </div>
    <h3 style="color:white;margin-top:0.25em;font-weight:lighter;"><%= @worker.full_name %></h3>
    <div class="ui huge star rating" data-rating="<%= @worker.review_rating %>" data-max-rating="5"></div>
    <span style="display:inline;color:white;opacity:0.7;">(<%= @worker.reviews_of.length %>)</span>

    <% if @worker.verified %>
      <div style="color:orange;">
        <i class="checkmark box icon"></i>
        <span>Verified</span>
      </div>
    <% end %>

    <% if current_farmer %>
      <br>
      <% if !@jobs_not_applied_to.empty? || @jobs.empty? %>
        <div class="ui primary button invite-worker" style="margin-bottom:10px;" data-worker-id="<%= @worker.id %>">
          Invite me to apply
        </div>
      <%end%>
      <% if !@jobs_applied_to.empty? %>
        <div class="ui primary button manage-applications" style="margin-bottom:10px;">
          Manage Applications
        </div>
      <%end%>
    <% end %>
  </div>
</div>

<div class="ui container" style="margin-bottom:15px;">
  <div class="ui tabular secondary two item menu profile-tabs">
    <div class="active item" data-tab="info" style="cursor: pointer;border-radius:0 !important;">
      <i class="book icon"></i>
      <span class="description">INFORMATION</span>
    </div>
    <div class="item" data-tab="reviews" style="cursor: pointer;border-radius:0 !important;">
      <i class="star icon"></i>
      <span class="description">REVIEWS</span>
    </div>
  </div>

  <div class="ui active tab" data-tab="info">
    <div class="ui center aligned grid" style="margin-top:30px;">
      <div class="ui eight wide column left aligned">
        <% if @worker.description %>
          <h3 class="header" style="margin-bottom:0;">Description</h3>
          <p>
            <%= @worker.description %>
          </p>
        <% end %>
        <h3 class="header">Details</h3>
        <div class="ui basic segment" style="margin-top:0px;line-height:2rem;">
          <% if current_farmer && current_farmer.can_view_contact_details(@worker) %>
            <span>Email: <span style="font-weight: bold;"><%= @worker.email %></span></span><br>
            <span>Mobile number: <span style="font-weight: bold;"><%= @worker.mobile_number %></span></span><br>
          <% end %>
          <% country = ISO3166::Country[@worker.nationality] %>
          <span>Country of Origin: <span style="font-weight: bold;"><%= country.try(:name) || @worker.nationality %></span></span><br>
          <span>DOB: <span style="font-weight: bold;"><%= @worker.dob.try(:strftime, "%B, %Y") || "Not provided" %></span></span><br>
          <% unless @worker.australian? %>
            <% visa_present = @worker.visa.present? %>
            <span>
              <span>Visa: <i class="primary thumbs outline <%= visa_present ? "up" : "down" %> icon"></i></span>
            </span><br>
          <% end %>
          <span>Has own transport: <i class="thumbs <%= @worker.has_own_transport ? 'up' : 'down' %> outline primary icon"></i></span><br>
          <span>Has own Accommodation: <i class="thumbs <%= @worker.has_own_accommodation ? 'up' : 'down' %> outline primary icon"></i></span><br>
          <span>Grew up on farm: <i class="thumbs <%= @worker.grew_up_on_farm ? 'up' : 'down' %> outline primary icon"></i></span><br>
        </div>

        <% if @worker.locations.present? %>
          <h3 class="header">Willing to Work</h3>
          <div class="ui basic segment">
            <div class="ui horizontal list">
              <% @worker.locations.each do |location| %>
                <div class="ui basic label item" style="padding:3px;border:0px;">
                  <i class="primary marker icon"></i>
                  <%= location.label %>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>

        <% if @worker.unavailabilities.present? %>
          <h4 class="header">This person is <span style="text-decoration:underline;">not</span> available for work on the following dates:</h3>
          <div class="ui basic segment">
            <% @worker.unavailabilities.each do |unavailability| %>
              <span><%= unavailability.start_date.strftime("%d %B %Y") %> - <%= unavailability.end_date.strftime("%d %B %Y") %></span><br>
            <% end %>
          </div>
        <% end %>
      </div>

      <div class="ui eight wide column left aligned">
        <% if @worker.skills.present? %>
            <h3 class="header">Skills</h3>
          <div class="ui basic segment">
            <div class="ui horizontal list">
              <% @worker.skills.each do |skill| %>
                <div class="ui label item">
                  <%= skill.title %>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>

        <% if @worker.certificates.present? %>
          <h3 class="header">Certificates & Licenses</h3>
          <div class="ui basic segment">
            <div class="ui horizontal list">
              <% @worker.certificates.each do |certificate| %>
                <div class="ui label item">
                  <%= certificate.title %>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>

        <% if @worker.previous_employers.present? %>
          <h3 class="header">Recent Jobs</h3>
          <div class="ui basic segment">
            <% @worker.previous_employers.each do |previous_employer| %>
              <h4 style="color:#00b5ad;font-weight:bolder;margin-bottom:0px;display:inline;"><%= previous_employer.job_title %></h4><b style="color:black;margin-left:2px;margin-right:2px;">at</b> <h4 style="color:#00b5ad;font-weight:bolder;margin-bottom:0px;display: inline;"><%= previous_employer.business_name %></h4><br>
              <span style="color:gray;"><%= previous_employer.start_date.strftime("%B %Y") %> - <%= previous_employer.end_date.strftime("%B %Y") %></span><br>
              <div class="ui star rating" data-rating="5" data-max-rating="5"></div>
              <div class="ui hidden divider"></div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="ui tab" data-tab="reviews">
    <div class="ui center aligned grid">
      <div class="ui ten wide column" style="text-align:left;">
        <div class="ui basic segment">
          <% if @worker.reviews_of.present? %>
            <h3 class="header">Reviews</h3>
            <% @worker.reviews_of.each do |review| %>
              <%= render partial: "includes/review_card", locals: { review: review } %>
              <div class="ui hidden divider"></div>
            <% end %>
          <% else %>
            <div class="ui info message">
              No reviews for this worker yet.
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


<% if current_farmer %>
  <div style="text-align:center;margin-bottom:5%;">
    <% if !@jobs_not_applied_to.empty? || @jobs.empty? %>
      <button style="min-width:40%;" class="ui primary button invite-worker">Invite me to apply</button>
    <%end%>
    <% if !@jobs_applied_to.empty? %>
      <button style="min-width:40%;" class="ui primary button manage-applications">Manage Applications</button>
    <%end%>
  </div>
<% end %>

<%= render "jobs_modal" if current_farmer %>