<%= link_to "Dashboard", "#", class: "#{@nav_item == "dashboard" ? "active" : ""} item" %>
<div class="item">
  <div class="header">Profile</div>
  <div class="menu">
    <%= link_to "#", class: "#{@nav_item == "account" ? "active" : ""} item" do %>
      <i class="browser icon"></i>Account
    <% end %>
    <%= link_to worker_job_categories_path, class: "#{["job_categories", "skills"].include? @nav_item ? "active" : ""} item" do %>
      <i class="hand paper icon"></i>Job Types and Skills
    <% end %>
    <%= link_to worker_profile_photo_path, class: "#{@nav_item == "profile_photo" ? "active" : ""} item" do %>
      <i class="camera retro icon"></i>Profile Photo
    <% end %>
    <%= link_to worker_unavailabilities_path, class: "#{@nav_item == "unavailabilities" ? "active" : ""} item" do %>
      <i class="calendar icon"></i>Availability
    <% end %>
    <%= link_to "#", class: "#{@nav_item == "edit_user" ? "active" : ""} item" do %>
      <i class="users icon"></i>Previous Employers
    <% end %>
    <%= link_to "#", class: "#{@nav_item == "edit_user" ? "active" : ""} item" do %>
      <i class="certificate icon"></i>Certificates & Education
    <% end %>
    <%= link_to worker_extra_details_path, class: "#{@nav_item == "extra_details" ? "active" : ""} item" do %>
      <i class="user icon"></i>Extra details
    <% end %>
  </div>
</div>
<div class="item">
  <div class="header">Jobs</div>
  <div class="menu">
    <%= link_to "#", class: "#{@nav_item == "account" ? "active" : ""} item" do %>
      <i class="trophy icon"></i>Offers
    <% end %>
    <%= link_to "#", class: "#{@nav_item == "edit_user" ? "active" : ""} item" do %>
      <i class="shop icon"></i>Applications
    <% end %>
  </div>
</div>
<% if current_worker %>
  <%= link_to "Log Out", destroy_worker_session_path, :method => :delete, class: "item right" %>
<% elsif current_admin %>
  <%= link_to "Log Out", destroy_admin_worker_session_path, :method => :delete, class: "item right" %>
<%end%>