<%= link_to "Dashboard", worker_dashboard_path, class: "#{@nav_item == "dashboard" ? "active" : ""} item" %>
<div class="item">
  <div class="header">Profile</div>
  <div class="menu">
    <%= link_to edit_worker_registration_path, class: "#{@nav_item == "account_details" ? "active" : ""} item" do %>
      <i class="edit icon"></i>Account Details
    <% end %>
    <%= link_to worker_job_categories_path, class: "#{["job_categories", "skills"].include? @nav_item ? "active" : ""} item" do %>
      <i class="hand paper icon"></i>Job Types and Skills
    <% end %>
    <%= link_to worker_profile_photo_path, class: "#{@nav_item == "profile_photo" ? "active" : ""} item" do %>
      <i class="camera retro icon"></i>Profile Photo
    <% end %>
    <%= link_to worker_unavailabilities_path, class: "#{@nav_item == "unavailabilities" ? "active" : ""} item" do %>
      <i class="calendar icon"></i>Availability
    <% end %>
    <%= link_to worker_locations_path, class: "#{@nav_item == "locations" ? "active" : ""} item" do %>
      <i class="calendar icon"></i>Locations
    <% end %>
    <%= link_to worker_previous_employers_path, class: "#{@nav_item == "previous_employer" ? "active" : ""} item" do %>
      <i class="users icon"></i>Previous Employers
    <% end %>
    <%= link_to worker_qualifications_path, class: "#{@nav_item == "qualifications" ? "active" : ""} item" do %>
      <i class="certificate icon"></i>Certificates & Education
    <% end %>
    <%= link_to worker_extra_details_path, class: "#{@nav_item == "extra_details" ? "active" : ""} item" do %>
      <i class="user icon"></i>Extra details
    <% end %>
    <%= link_to worker_reviews_by_path, class: "#{@nav_item == "reviews_by" ? "active" : ""} item" do %>
      <i class="announcement icon"></i>Reviews by you
    <% end %>
    <%= link_to worker_reviews_of_path, class: "#{@nav_item == "reviews_of" ? "active" : ""} item" do %>
      <i class="announcement icon"></i>Reviews of you
    <% end %>
  </div>
</div>
<div class="item">
  <div class="header">Jobs</div>
  <div class="menu">
    <%= link_to worker_job_workers_path, class: "#{@nav_item == "applications" ? "active" : ""} item" do %>
      <i class="shop icon"></i>Applications
    <% end %>
  </div>
</div>
<% if current_admin %>
  <%= link_to "Log Out", admin_destroy_worker_session_path, :method => :delete, class: "item right" %>
<%else%>
  <%= link_to "Log Out", destroy_worker_session_path, :method => :delete, class: "item right" %>
<%end%>