<!DOCTYPE html>
<html>
  <head>
    <title>AgDraft</title>
    <%= favicon_link_tag %>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <%= render "includes/analytics" %>
  </head>
  <body class="<%= controller_name %> <%= action_name %>">
    <% margin_top = controller_name == "sessions" ? '10%' : '0%' %>
    <div class="ui center aligned grid" style="margin-top: <%= margin_top %>">
      <div class="column">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
